._2l5fYsLlIDaNEr-OXGXirR .cf--modal__close {
    background-color: #191c21;
    border-radius: 50%;
    opacity: .8;
    padding: var(--cf--scale-2)
}

._2l5fYsLlIDaNEr-OXGXirR .bc-player {
    border-radius: var(--cf--scale-3)
}

.GK3pXwaCS6Qw6Bgzs9gCg {
    text-transform: capitalize;
    padding: 0 !important
}

._2F6OIaScemVDKzAgz_Okq5 {
    height: 100%
}





::-moz-selection {
    background: rgba(148,154,164,.3)
}

::selection {
    background: rgba(148,154,164,.3)
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer
}

._3mKww6RNRdgh7Tp2tSzSyI {
    font-size: var(--cf--scale-12)
}

._2nsta0pKOM8dewU_HW1kY8 {
    font-size: var(--cf--scale-11)
}

.NCy6JTv5-Dzvf-JZGXC-h {
    font-size: var(--cf--scale-10)
}

._1BBaTK_vRqR4NEmB2Zck57 {
    font-size: var(--cf--scale-9)
}

.nkaxtgc2yfh-8wUaiMM-Q {
    font-size: var(--cf--scale-8)
}

._204QfhFInU3QUaX4yurv9y {
    font-size: var(--cf--scale-7)
}

._2GfBU_7cPRT_1lyoQ4xgkq {
    font-size: var(--cf--scale-6)
}

._3ANWvNWcyMFzDnOrKb0wmB {
    font-size: var(--cf--scale-5)
}

._1qWqyz3Y4_QqavD0POuTxU {
    font-size: var(--cf--scale-4)
}

._1eEl3VZbfgt_NnSb8Zocn1 {
    font-size: var(--cf--scale-3-5)
}

._1SeOAmTzSNAe2R1RpwCZRC {
    font-size: var(--cf--scale-3)
}

._3mKww6RNRdgh7Tp2tSzSyI,._2nsta0pKOM8dewU_HW1kY8,.NCy6JTv5-Dzvf-JZGXC-h,._1BBaTK_vRqR4NEmB2Zck57,.nkaxtgc2yfh-8wUaiMM-Q,._204QfhFInU3QUaX4yurv9y,._2GfBU_7cPRT_1lyoQ4xgkq,._3ANWvNWcyMFzDnOrKb0wmB,._1qWqyz3Y4_QqavD0POuTxU,._1eEl3VZbfgt_NnSb8Zocn1,._1SeOAmTzSNAe2R1RpwCZRC {
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: .03em
}

._2QkdQ5Qh3AuL2Oe1dlYSzz {
    font-size: var(--cf--scale-5);
    line-height: 1.6;
    letter-spacing: .01em
}

._3MCh_8-FzYwhvXObAxkuZC {
    font-size: var(--cf--scale-4);
    line-height: 1.5;
    letter-spacing: .01em
}

.p7Gyc7mGpo2IXrZqwzGiX {
    font-size: var(--cf--scale-3-5);
    line-height: 1.45;
    letter-spacing: .01em
}

._3RppAag4AHKYP-OCncCRFg {
    font-size: var(--cf--scale-3);
    line-height: 1.45;
    letter-spacing: .01em
}

.tPozJajUSfYEZJkiPshoA {
    letter-spacing: .06em;
    text-transform: uppercase !important
}

._3LnXTkcOxXqMqdPsh8FYCS {
    text-transform: lowercase !important
}

._11mfeJsnc30DK4w5RVuAVC {
    text-transform: capitalize !important
}

._2EdGNHKju7yWgukv6d_KSN {
    font-weight: 500 !important
}

strong,b {
    font-weight: 500 !important
}

._2T9_h33npI7nHiTSjDKQKN {
    font-style: italic !important
}

i {
    font-style: italic !important
}

._3sfRFWrIpdfeDaHckk2K4v {
    font-weight: 400 !important
}

._1Zr4buPEv1xu59OKOY7t6t {
    font-weight: 300 !important
}

._2tkgU33lF4j8ICAgtqhjDx {
    text-decoration: underline !important
}

u {
    text-decoration: underline !important
}

._3JhqRIrry6adYKp3Vlgefx {
    font-weight: 400 !important;
    letter-spacing: .24em !important;
    text-transform: uppercase !important
}

._2uF1F8aVhqAQWuaakjNpeZ,.nzEpBHx4ezNNh3IswdC_Q,._3ctbQONctwLWsvJtS63WLK,._3CpUNqCUGt5KrbL8DC1KuC,._3HpVV9h9D7yM2tLF2cNh6C,._3nvb9-G5jMv_y3vE1aa91h {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden
}

._2uF1F8aVhqAQWuaakjNpeZ,.nzEpBHx4ezNNh3IswdC_Q {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.5em
}

._2uF1F8aVhqAQWuaakjNpeZ[class^=cf--text-h],[class^=cf--text-h] ._2uF1F8aVhqAQWuaakjNpeZ,.nzEpBHx4ezNNh3IswdC_Q[class^=cf--text-h],[class^=cf--text-h] .nzEpBHx4ezNNh3IswdC_Q {
    height: 1.45em
}

._2uF1F8aVhqAQWuaakjNpeZ.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._2uF1F8aVhqAQWuaakjNpeZ,.nzEpBHx4ezNNh3IswdC_Q.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX .nzEpBHx4ezNNh3IswdC_Q {
    height: 1.45em
}

._2uF1F8aVhqAQWuaakjNpeZ._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._2uF1F8aVhqAQWuaakjNpeZ,.nzEpBHx4ezNNh3IswdC_Q._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz .nzEpBHx4ezNNh3IswdC_Q {
    height: 1.6em
}

.nzEpBHx4ezNNh3IswdC_Q {
    height: auto;
    max-height: 1.5em
}

.nzEpBHx4ezNNh3IswdC_Q[class^=cf--text-h],[class^=cf--text-h] .nzEpBHx4ezNNh3IswdC_Q {
    height: auto;
    max-height: 1.45em
}

.nzEpBHx4ezNNh3IswdC_Q.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX .nzEpBHx4ezNNh3IswdC_Q {
    height: auto;
    max-height: 1.45em
}

.nzEpBHx4ezNNh3IswdC_Q._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz .nzEpBHx4ezNNh3IswdC_Q {
    height: auto;
    max-height: 1.6em
}

._3ctbQONctwLWsvJtS63WLK,._3CpUNqCUGt5KrbL8DC1KuC {
    height: 3em;
    -webkit-line-clamp: 2
}

._3ctbQONctwLWsvJtS63WLK[class^=cf--text-h],[class^=cf--text-h] ._3ctbQONctwLWsvJtS63WLK,._3CpUNqCUGt5KrbL8DC1KuC[class^=cf--text-h],[class^=cf--text-h] ._3CpUNqCUGt5KrbL8DC1KuC {
    height: 2.9em
}

._3ctbQONctwLWsvJtS63WLK.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3ctbQONctwLWsvJtS63WLK,._3CpUNqCUGt5KrbL8DC1KuC.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3CpUNqCUGt5KrbL8DC1KuC {
    height: 2.9em
}

._3ctbQONctwLWsvJtS63WLK._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3ctbQONctwLWsvJtS63WLK,._3CpUNqCUGt5KrbL8DC1KuC._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3CpUNqCUGt5KrbL8DC1KuC {
    height: 3.2em
}

._3CpUNqCUGt5KrbL8DC1KuC {
    height: auto;
    max-height: 3em
}

._3CpUNqCUGt5KrbL8DC1KuC[class^=cf--text-h],[class^=cf--text-h] ._3CpUNqCUGt5KrbL8DC1KuC {
    height: auto;
    max-height: 2.9em
}

._3CpUNqCUGt5KrbL8DC1KuC.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3CpUNqCUGt5KrbL8DC1KuC {
    height: auto;
    max-height: 2.9em
}

._3CpUNqCUGt5KrbL8DC1KuC._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3CpUNqCUGt5KrbL8DC1KuC {
    height: auto;
    max-height: 3.2em
}

._3HpVV9h9D7yM2tLF2cNh6C,._3nvb9-G5jMv_y3vE1aa91h {
    height: 4.5em;
    -webkit-line-clamp: 3
}

._3HpVV9h9D7yM2tLF2cNh6C[class^=cf--text-h],[class^=cf--text-h] ._3HpVV9h9D7yM2tLF2cNh6C,._3nvb9-G5jMv_y3vE1aa91h[class^=cf--text-h],[class^=cf--text-h] ._3nvb9-G5jMv_y3vE1aa91h {
    height: 4.35em
}

._3HpVV9h9D7yM2tLF2cNh6C.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3HpVV9h9D7yM2tLF2cNh6C,._3nvb9-G5jMv_y3vE1aa91h.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3nvb9-G5jMv_y3vE1aa91h {
    height: 4.35em
}

._3HpVV9h9D7yM2tLF2cNh6C._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3HpVV9h9D7yM2tLF2cNh6C,._3nvb9-G5jMv_y3vE1aa91h._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3nvb9-G5jMv_y3vE1aa91h {
    height: 4.8em
}

._3nvb9-G5jMv_y3vE1aa91h {
    height: auto;
    max-height: 4.5em
}

._3nvb9-G5jMv_y3vE1aa91h[class^=cf--text-h],[class^=cf--text-h] ._3nvb9-G5jMv_y3vE1aa91h {
    height: auto;
    max-height: 4.35em
}

._3nvb9-G5jMv_y3vE1aa91h.p7Gyc7mGpo2IXrZqwzGiX,.p7Gyc7mGpo2IXrZqwzGiX ._3nvb9-G5jMv_y3vE1aa91h {
    height: auto;
    max-height: 4.35em
}

._3nvb9-G5jMv_y3vE1aa91h._2QkdQ5Qh3AuL2Oe1dlYSzz,._2QkdQ5Qh3AuL2Oe1dlYSzz ._3nvb9-G5jMv_y3vE1aa91h {
    height: auto;
    max-height: 4.8em
}

._1XWvqjtHY62ZMy-QXb3-ZX {
    color: #f24462
}

._36kIT5EyH_TTbgzKlOEXjU {
    color: #00c14e
}

._3rav5M7mmGnSFzYA1q-X4F {
    color: #f1bd5b
}

._2UrP1vytpoCaSBDIaV3xSy {
    color: #f24462
}

._1VP4lJah-NS8FPRux88-xy {
    color: #596170
}

._1UT7fo_KuKGy8FU38dhTMM,._1UT7fo_KuKGy8FU38dhTMM:hover,._2Qnzx3J2rT-OKHy8pEdRo8:hover,._3aQvfghGWUShqf5-ypeFMM:hover ._2Qnzx3J2rT-OKHy8pEdRo8 {
    text-decoration: underline;
    cursor: pointer
}

._3aQvfghGWUShqf5-ypeFMM:hover {
    cursor: pointer
}

._3cq3TTje_aRTAOvQFO4Wo4 {
    font-family: monospace !important
}

.uGBFfiVXjD9RxIW3utLG9 {
    white-space: nowrap
}

@media(min-width: 0) {
    ._1s4uriFFel80CxNJpbIRVB {
        text-align:left !important
    }

    ._3NenwIzsyM2m7YbcQl0fgG {
        text-align: right !important
    }

    ._2LwSp1uOwb33g5p4GUPFks {
        text-align: center !important
    }
}

@media(min-width: 576px) {
    ._4c8D2PeYlmx2TQIvdxpHc {
        text-align:left !important
    }

    ._2f4yUsI7Dz24Fxtvtu2uTI {
        text-align: right !important
    }

    ._2z3KhH6j3qPyiRGVz_gI6I {
        text-align: center !important
    }
}

@media(min-width: 768px) {
    ._3WXu9mj_6Q6sjTxtuM5Qw_ {
        text-align:left !important
    }

    ._2FS2LAxOe_RYUP5HUPp8Mk {
        text-align: right !important
    }

    ._3TE7xxtIV0vav6vBsHHYaZ {
        text-align: center !important
    }
}

@media(min-width: 960px) {
    ._1BWyuuDkBgk7Dop6ZoKQvG {
        text-align:left !important
    }

    .l3p0mUUj6UHyo6oAhO0ru {
        text-align: right !important
    }

    ._3IIaSaO2qEFIXkrT75gzi {
        text-align: center !important
    }
}

@media(min-width: 1200px) {
    ._18OKeSQxeqWt_XdEZuV_7b {
        text-align:left !important
    }

    .STIwxQWz9fph3J4l8lAhw {
        text-align: right !important
    }

    .DO6ZNlK2H4519KMF37mV7 {
        text-align: center !important
    }
}

._25gJYbZg8tbne1i2Sk509k {
    position: relative;
    overflow: hidden;
    text-align: center
}

._25gJYbZg8tbne1i2Sk509k span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 .75em
}

._25gJYbZg8tbne1i2Sk509k span:before,._25gJYbZg8tbne1i2Sk509k span:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: var(--cf--theme-text-hr-span-after)
}

._25gJYbZg8tbne1i2Sk509k span:before {
    left: 100%
}

._25gJYbZg8tbne1i2Sk509k span:after {
    right: 100%
}

._27FznAFgEUYiQxoz7xiM8F {
    border-radius: var(--cf--scale-3);
    position: relative;
    overflow: hidden
}

._27FznAFgEUYiQxoz7xiM8F ._17mm5Ofm_t3uT7KPYJxJXi {
    z-index: 1;
    position: absolute;
    top: var(--cf--scale-2);
    left: var(--cf--scale-2)
}

@media(min-width: 960px) {
    ._27FznAFgEUYiQxoz7xiM8F ._17mm5Ofm_t3uT7KPYJxJXi {
        top:var(--cf--scale-4);
        left: var(--cf--scale-4)
    }
}

._3b5KwaGtkFAShACJiAL7Ej {
    height: 2.5px;
    width: 10px
}

._22AsGV5jkeUqiHextSA7tm {
    -o-object-position: left center;
    object-position: left center
}

:root {
    --animation-duration: 2s;
    --button-containter-height: 138px
}

@media(min-width: 768px) {
    :root {
        --button-containter-height: 178px
    }
}

@media(min-width: 960px) {
    :root {
        --button-containter-height: 132px
    }
}

._2NAD03W6IOqaimfABmU5X1 {
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    transform-origin: bottom;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    transform: translateY(var(--button-containter-height))
}

._2NAD03W6IOqaimfABmU5X1 ._3NTjvB6-n-Qms1VAdTkYNl {
    height: var(--button-containter-height)
}

._3_Mn92P8b2RQwkuQw-mxFx {
    -webkit-animation-name: _3_Mn92P8b2RQwkuQw-mxFx;
    animation-name: _3_Mn92P8b2RQwkuQw-mxFx;
    transform: translateY(0)
}

._1D4hh4KGyVKDaOqb-pnIce {
    -webkit-animation-name: _1D4hh4KGyVKDaOqb-pnIce;
    animation-name: _1D4hh4KGyVKDaOqb-pnIce;
    transform: translateY(var(--button-containter-height))
}

@-webkit-keyframes _3_Mn92P8b2RQwkuQw-mxFx {
    0% {
        transform: translateY(var(--button-containter-height))
    }

    50% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes _3_Mn92P8b2RQwkuQw-mxFx {
    0% {
        transform: translateY(var(--button-containter-height))
    }

    50% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes _1D4hh4KGyVKDaOqb-pnIce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(var(--button-containter-height))
    }

    100% {
        transform: translateY(var(--button-containter-height))
    }
}

@keyframes _1D4hh4KGyVKDaOqb-pnIce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(var(--button-containter-height))
    }

    100% {
        transform: translateY(var(--button-containter-height))
    }
}

._3TNicSjeY_nG9VAaCywkMe {
    -webkit-animation-duration: var(--animation-duration);
    animation-duration: var(--animation-duration);
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    opacity: 0
}

._2q4g5mhfq421QKFzmQbJU1 {
    -webkit-animation-name: _2q4g5mhfq421QKFzmQbJU1;
    animation-name: _2q4g5mhfq421QKFzmQbJU1;
    opacity: 1
}

._2JEtiqo5jkYT2rOTj_NAe9 {
    -webkit-animation-name: _2JEtiqo5jkYT2rOTj_NAe9;
    animation-name: _2JEtiqo5jkYT2rOTj_NAe9;
    opacity: 0
}

@-webkit-keyframes _2q4g5mhfq421QKFzmQbJU1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes _2q4g5mhfq421QKFzmQbJU1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes _2JEtiqo5jkYT2rOTj_NAe9 {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes _2JEtiqo5jkYT2rOTj_NAe9 {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
