{% load static %}
<div class="cf-page__header" data-ba="page-header">
  <div
   
  >
    <div  class="_26NLWE4OG0PV29_irsiZYZ">
      <div class="container">
        <div class="row no-gutters-vertical align-items-center">
          <div class="col-auto d-flex align-items-center">
            <a
              class="
                _3dDL_doYM_BDxfZlRiE_4K
                d-inline-flex
                align-items-center
                cf-mr-2
              "
              href="/"
              ><img
                src="{% static 'images/brand/logo/logo-sm-white.svg' %}"
                alt="Codefluent Logo"
            /></a>
          </div>
          <div class="col d-flex cf-px-0 justify-content-center">
            <button class="c-button c-button--link c-button--sm cf-px-3">
              <p class="cf-text-h7 cf-text--capitalize">All Categories</p>
              <svg
                width="2em"
                height="2em"
                viewBox="0 0 24 24"
                fill="none"
                class="cf-ml-1 _3yYq0EcctAUxMs2QkojefH"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M5.47 8.845a.75.75 0 011.06 0l5.47 5.47 5.47-5.47a.75.75 0 111.06 1.06l-6 6a.75.75 0 01-1.06 0l-6-6a.75.75 0 010-1.06z"
                  fill="currentColor"
                ></path>
              </svg></button
            ><a
              class="c-button c-button--link c-button--sm cf-px-3"
              href="https://learn.masterclass.com/comingsoon"
              ><p class="cf-text-h7 cf-text--capitalize">Coming Soon</p></a
            ><span class=""
              ><button class="c-button c-button--link c-button--sm cf-px-3">
                <svg
                  width="2em"
                  height="2em"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="cf-mr-1 _3yYq0EcctAUxMs2QkojefH"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11 6.75a4.25 4.25 0 100 8.5 4.25 4.25 0 000-8.5zM5.25 11a5.75 5.75 0 1111.5 0 5.75 5.75 0 01-11.5 0z"
                    fill="currentColor"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.47 14.47a.75.75 0 011.06 0l3 3a.75.75 0 11-1.06 1.06l-3-3a.75.75 0 010-1.06z"
                    fill="currentColor"
                  ></path>
                </svg>
                <p class="cf-text-h7 cf-text--capitalize">Search</p>
              </button></span
            >
          </div>
          <div class="col-auto cf-px-0">
            <a
              class="c-button c-button--small c-button--link cf-px-3"
              href="/"
              data-ba="businesses-login-button"
              target="_blank"
              >Live Class</a
            >
          </div>
          {% if user.is_authenticated %}
          
          {% else %}
          <div class="col-auto cf-px-0">
            <button
              id="login_btn"
              class="c-button c-button--small c-button--link cf-px-3"
             
              >Log In</button
            >
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
