{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow">
          <!-- Card body -->
          <div class="card-body p-6">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="mb-4">
              <a href="/"
                ><img
                  src="{% static 'images/brand/logo/logo-icon.svg' %}"
                  class="mb-4"
                  alt=""
              /></a>
              <h1 class="mb-1 fw-bold">Forgot Password</h1>
              <p>Fill the form to reset your password.</p>
            </div>
            <!-- Form -->
            {{ form.non_field_errors }}
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset"> {% csrf_token %}
              <!-- Email -->
              <div class="mb-3">
                  {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                {{ form.email | attr:"class:form-control" }}
              </div>
              <!-- Button -->
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Reset My Password
                </button>
              </div>
              <span
                >Return to
                <a href="{{ login_url }}">sign in</a></span
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


