<div
  id="cf-dropdown"
  role="dropdown"
  class="modal cf-dropdown cf-dropdown--active _1uZXTSYh7w9Cw5iSNcz3XO cf-mt-2"
  x-placement="bottom-end"
  style="
    position: fixed;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(80vw, 68px, 0px);
  "
>
  <div class="cf-backdrop cf-backdrop--dark cf-dropdown__backdrop"></div>
  <div class="cf-dropdown__content-container">
    <div class="d-block d-sm-none cf-dropdown__close">
      <a class="d-inline-block cf-p-2"
        ><svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-dropdown__close-icon"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.97 6.97a.75.75 0 011.06 0L12 10.94l3.97-3.97a.75.75 0 111.06 1.06L13.06 12l3.97 3.97a.75.75 0 11-1.06 1.06L12 13.06l-3.97 3.97a.75.75 0 01-1.06-1.06L10.94 12 6.97 8.03a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="cf-dropdown__content">
      <ul id="nav_more_menu_open">
        <li>
          <a
            href="/students/7250212"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Profile</a
          >
        </li>
        <li>
          <a
            href="https://community.masterclass.com"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            target="_blank"
            >Community</a
          >
        </li>
        <li>
          <a
            href="/gift"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Gifts</a
          >
        </li>
        <li>
          <a
            href="/articles"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Articles</a
          >
        </li>
        <li>
          <a
            href="/articles-bookmarks"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Bookmarks</a
          >
        </li>
        <li>
          <a
            href="/account/edit"
            class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Settings</a
          >
        </li>
        <li>
          <a href="#" class="cf-py-3 cf-px-6 d-block _1OwrcGj9GmlCCISzckL2ks"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
