{% load static %}
<div class="cf-page__hero" style="background-image: url(/static/images/hero/hero-bg.jpg); background-size: contain; background-repeat: no-repeat;">
  <div
    id="hero"
    class="_2AAuDVf7LLXdl80XNfq5VK cf-py-4"
  >
    <div
      class="
        _3IJrtjwHUbAXAxjOmHisbf
        FsWNt35LrUaPSa9WSxaA
        
        no-gutters
        cf-pb-8
        d-flex
        align-items-center
        cf-pt-4
        
      "
    >
      <di class="col-lg-2"></di>
      <div class="col-12 col-lg-4">
       
        <div class="cf-px-9">
          <div class="">
            <div class="d-flex justify-content-center">
              <div class="col-10 col-md-7 col-lg-12">
                
                <h1 class="header-1 cf-text--capitalize cf-text--left cf-mb-9 text-white pt-18">Your  Project-based Coding Starts Here</h1>
              </div>
            </div>
          </div>
         
          <div class="d-flex justify-content-center">
            <div class="cf-px-4 col-12 col-md-6 col-lg-12">
                
              <div>
                <div class="n70Y5_9e-z7R2Clkv2ZA3">
                    
                  <div>
                    <div class="cf-form-group cf-form-group--default cf-mb-3">
                      <div
                        class="
                          row
                          no-gutters
                          justify-content-between
                          align-items-center
                        "
                      >
                        <div class="col align-self-end"></div>
                        <div class="col-12">
                          <div
                            class="
                              cf-form-input
                              cf-form-element
                              cf-form-element--default
                            "
                          >
                            
                          </div>
                        </div>
                        <div class="col align-self-start">
                          <p
                            class="
                              cf-text-x-small
                              cf-opacity--muted
                              cf-text--left
                              cf-mt-1
                            "
                          ></p>
                        </div>
                        <div class="col-auto align-self-start cf-ml-auto"></div>
                      </div>
                    </div>
                    <button
                      id="signup_btn"
                      class="
                        c-button
                        
                        c-button--primary
                        c-button--md
                        cf-mb-5
                      "
                      type="submit"
                      
                    >
                      <span>Get Started</span>
                  </button>
                    <div
                      class="
                        _3JwjBpnb_Ta3nct4PA6Gtw
                        d-flex
                        align-items-center
                        cf-text-x-small
                        cf-opacity--hinted
                      "
                    ></div>
                </div>
                </div>
              </div>
             
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="cf-tile cf-tile--16x9">
          <div class="cf-tile__content content">
            <div
              class="
                _3Xkk1e_wgT3LNmLLOx6uGH
                cf-tile-image 
                GBV986QcBpAIZ9Jt0gWGH
              "
            >
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</div>
