<div
  class="
    md:pt-b18
    flex flex-col
    items-center
    md:items-start
    text-center
    md:text-left
    absolute
    md:top-0
    bottom-0
    md:bottom-auto
    left-b2
    right-b2
    md:right-auto
    md:max-w-b63
  "
>
 
  <h1
    class="
      md:max-w-full
      header-1
      text-29
      md:text-58
      max-w-b35
      md:max-w-full
      mt-b2
      text-white
      pointer-events-none
    "
  >
    The future of online college is here.
  </h1>
  <div class="h-114 md:hidden"></div>
  <div
    class="
      md:bg-transparent
      z-1
      md:py-0
      bottom-0
      left-0
      w-full
      flex
      justify-center
      md:justify-start
      md:static
      md:mt-b5
      transition-all
      fixed
      bg-grey-800-80%
      py-b1
      duration-500
    "
  >
    <a href="/pages/onboarding" class="flex btn btn-green"> Get Started </a>
  </div>
</div>
