<div class="settings-page__box cf-invert cf-p-8 cf-background--color-light">
  <h5 class="cf-text-h5 cf-mb-8"></h5>
 
 
  
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/1"
        >Subscriptions</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/1"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/2"
        >Billing</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/2"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/3"
        >Payments</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/3"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/4"
        >Invoice</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/4"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/5"
        >Update Profile</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/5"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/6"
        >Security</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/6"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/7"
        >Social Profiles</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/7"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/8"
        >Linked Accounts</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/8"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/10"
        >Delete Account</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/10"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
  <div class="cf-my-5">
    <div class="d-flex justify-content-between align-items-center cf-mb-2">
      <a class="cf-text--bare-link cf-text-h6" href="/sitemap/categories/11"
        >Sign out</a
      ><a class="d-flex align-items-center" href="/sitemap/categories/11"
        >
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 24 24"
          fill="none"
          class="cf-text--bare-link cf-icon--2"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M8.845 5.47a.75.75 0 011.06 0l6 6a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06-1.06l5.47-5.47-5.47-5.47a.75.75 0 010-1.06z"
            fill="currentColor"
          ></path></svg></a>
    </div>
    <div class="category-progress-bar">
      <div class="category-progress-bar__background"></div>
      <div class="category-progress-bar--completed" style="width: 0%"></div>
    </div>
  </div>
 
</div>
