<div class="col-12 col-md-6 col-lg-4 cf-mb-4 cf-pr-0 cf-py-0 cf-pl-4">
  <span
    ><div class="_27FznAFgEUYiQxoz7xiM8F">
      <div class="_17mm5Ofm_t3uT7KPYJxJXi">
        <div class="cf-badge cf-text-x-small cf-badge--default mx-text--bold">
          New
        </div>
      </div>
      <div class="cf-tile cf-tile--9x16">
        <div class="cf-tile__content content">
          <div
            class="
              cf-tile__component
              cf-tile-overlay cf-tile-overlay--gradient-bottom
            "
          ></div>
          <div
            class="cf-tile-image cf-animation cf-animation--zoom cf-animation--animating cf-img-wrapper"
          >
            <img
              class="cf-img-wrapper__image"
              src="https://www.masterclass.com/course-images/attachments/Se3rr7Db2AMAitkrzKaBnc8K?width=300&amp;height=533&amp;fit=cover&amp;dpr=2"
            />
          </div>
          <div
            class="
              cf-tile__component
              cf-tile-caption
              cf-tile-caption--x-center
              cf-tile-caption--y-bottom
              cf-tile-caption--flush
            "
          >
            <div class="cf-tile-caption__content cf-p-4">
              <div
                class="cf-pb-2 _2NAD03W6IOqaimfABmU5X1 _1D4hh4KGyVKDaOqb-pnIce"
              >
                <div>
                  <div
                    class="cf-nameplate cf-nameplate--small"
                    data-testid="nameplate"
                  >
                    <div class="cf-nameplate__inner">
                      <img
                        src="https://www.masterclass.com/course-images/attachments/5GSRX43re6sdZaHQvVHCV4n3"
                        class="cf-nameplate__image"
                      />
                      <div
                        class="
                          cf-nameplate__separator cf-nameplate__separator--small
                        "
                      ></div>
                      <h1 class="cf-text-h6 text-white" data-testid="nameplate__sub-text">
                        Teaches Creating Outside the Lines
                      </h1>
                    </div>
                  </div>
                </div>
                <div
                  class="
                    _3NTjvB6-n-Qms1VAdTkYNl
                    _3TNicSjeY_nG9VAaCywkMe
                    _2JEtiqo5jkYT2rOTj_NAe9
                  "
                >
                  <button
                    class="
                      c-button
                      c-button--full-width
                      c-button--default
                      c-button--md
                      cf-theme-light cf-mb-3 cf-mt-6
                      cf-background--color-light
                    "
                  >
                    <svg
                      width="2em"
                      height="2em"
                      viewBox="0 0 24 24"
                      fill="none"
                      class="cf-mr-3"
                    >
                      <path
                        d="M8.653 6.117A.75.75 0 007.5 6.75v10.5a.75.75 0 001.153.633l8.25-5.25a.75.75 0 000-1.266l-8.25-5.25z"
                        fill="currentColor"
                      ></path></svg>WATCH SAMPLE</button
                  ><button
                    class="
                      c-button
                      c-button--full-width
                      c-button--secondary
                      c-button--md
                    "
                  >
                    <svg
                      width="2em"
                      height="2em"
                      viewBox="0 0 24 25"
                      fill="none"
                      class="cf-mr-3"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 6.849c-3.007 0-5.444 2.418-5.444 5.4 0 2.983 2.437 5.4 5.444 5.4s5.444-2.417 5.444-5.4c0-2.982-2.437-5.4-5.444-5.4zm-7 5.4c0-3.835 3.134-6.943 7-6.943s7 3.108 7 6.943c0 3.835-3.134 6.944-7 6.944s-7-3.109-7-6.944z"
                        fill="currentColor"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12 11.877c.414 0 .75.333.75.744v1.86c0 .41-.336.744-.75.744a.747.747 0 01-.75-.744v-1.86c0-.41.336-.744.75-.744z"
                        fill="currentColor"
                      ></path>
                      <path
                        d="M12.75 10.017c0 .411-.336.744-.75.744a.747.747 0 01-.75-.744c0-.41.336-.743.75-.743s.75.333.75.743z"
                        fill="currentColor"
                      ></path></svg
                    >VIEW CLASS INFO
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></span
  >
</div>
