{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}

<link rel="stylesheet" href='{% static "css/main.css" %}'>


{% endblock css %}

{% block header %}
  {% include 'header/home.html' %}
{% endblock header %}

{% block content %}



<div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center g-0 min-vh-100">
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <!-- Card -->
      {% include 'account/auth_login_modal.html' %}
    </div>
  </div>
</div>
{% endblock %}



