{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow">
          <!-- Card body -->
          <div class="card-body p-6">
          
            <div class="mb-4">
              <a href="/"
                ><img
                  src="{% static 'images/brand/logo/logo-icon.svg' %}"
                  class="mb-4"
                  alt=""
              /></a>
              <h1 class="mb-1 fw-bold">Set Password</h1>
             
            </div>
            <!-- Form -->
            {{ form.non_field_errors }}
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set"> {% csrf_token %}
              <!-- Email -->
              <div class="mb-3">
                  {{ form.password1.errors }}
                <label for="{{ form.password1.id_for_label }}" class="form-label">Password</label>
                {{ form.password1 | attr:"class:form-control" }}
              </div>

              <div class="mb-3">
                {{ form.password2.errors }}
              <label for="{{ form.password2.id_for_label }}" class="form-label">Verify Password </label>
              {{ form.password2 | attr:"class:form-control" }}
            </div>
              <!-- Button -->
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary">
                  Set Password
                </button>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


