<div
  class="falcon-cart falcon-cart--visible falcon-cart--enroll"
  id="falcon-cart"
>
  <div class="falcon-cart__overlay">
    <div class="falcon-cart__content" style="min-height: 0px">
      <div id="falcon-cart-root">
        <div class="cart__container">
          <div class="_3pCf1AsqkRwTqOcXbXJRRc">
            <div class="mc-theme-light mc-text--center">
              <div class="_3KHdIqEf-c4rHYHV7_Pug0 d-inline-block mc-mb-4">
                <svg
                  width="60px"
                  height="60px"
                  viewBox="0 0 60 60"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <g>
                      <rect
                        id="Circle"
                        fill="#00C14E"
                        x="0"
                        y="0"
                        width="60"
                        height="60"
                        rx="30"
                      ></rect>
                      <polyline
                        stroke="#FFFFFF"
                        stroke-width="4.25"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        points="18.1489258 28.7265625 25.7104492 37.1550293 40.671875 22.1135254"
                      ></polyline>
                    </g>
                  </g>
                </svg>
              </div>
              <h2 class="mc-text-h3 mc-mb-1">Your order is complete</h2>
              <div class="mc-my-4">
                <div class="mc-mb-4">
                  <h3 class="mc-text-h6 mc-text--uppercase">All-Access Pass</h3>
                  <h4 class="mc-opacity--hinted">
                    Your receipt has been emailed to you.
                  </h4>
                </div>
              </div>
              <hr class="mc-separator mc-my-4" />
              <button
                class="
                  c-button c-button--full-width c-button--primary c-button--md
                "
              >
                continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="falcon-cart__aap-upsell">
      <div class="falcon-cart__close falcon-cart__close--upsell">
        <img
          src="/assets/refresh/global/modal-close-inverted-07a5d719b0844eb31eba428258619c06a3805d5a24517d3777ceec76fbb9093c.svg"
        />
      </div>
      <div id="falcon-cart-aap-upsell-root"></div>
    </div>
    <div class="falcon-cart__gift-options">
      <div class="falcon-cart__close falcon-cart__close--gift">
        <img
          src="/assets/refresh/global/modal-close-inverted-07a5d719b0844eb31eba428258619c06a3805d5a24517d3777ceec76fbb9093c.svg"
        />
      </div>
      <div id="falcon-gift-options-root"></div>
    </div>
  </div>
</div>
