{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'images/favicon/favicon.ico' %}"
    />
     {% include 'base/css.html' %}
    
    <title>READuced| {{ object.title }}</title>
  </head>

  <body>
    <!-- Page content -->
    {% include 'base/navbar.html' %}

    <div class="mt-2 course-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-xl-8 col-lg-8 col-md-8">
            <!-- Tab content -->
            <div class="tab-content content" id="course-tabContent">
              <div
                class="tab-pane fade show active"
                id="course-intro"
                role="tabpanel"
                aria-labelledby="course-intro-tab"
              >
                <div
                  class="d-flex align-items-center justify-content-between mb-4"
                >
                  <div>
                    <h3 class="mb-0 text-truncate-line-2">{{current_lecture.title}}</h3>
                  </div>
                  <div>
                    <!-- Dropdown -->
                    <span class="dropdown">
                      <a
                        href="#"
                        class="ms-2 text-muted"
                        id="dropdownInfo"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fe fe-help-circle"></i>
                      </a>
                      <span
                        class="
                          dropdown-menu dropdown-menu-lg
                          p-3
                          dropdown-menu-end
                        "
                        aria-labelledby="dropdownInfo"
                      >
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        cupiditate consequatur rerum eius ad ut officiis
                      </span>
                    </span>
                    <!-- Dropdown -->
                    <span class="dropdown">
                      <a
                        class="text-muted text-decoration-none"
                        href="#"
                        role="button"
                        id="shareDropdown1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <span
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="shareDropdown1"
                      >
                        <span class="dropdown-header">Share</span>
                        <a class="dropdown-item" href="#"
                          ><i class="fab fa-facebook dropdown-item-icon"></i
                          >Facebook</a
                        >
                        <a class="dropdown-item" href="#"
                          ><i class="fab fa-twitter dropdown-item-icon"></i
                          >Twitter</a
                        >
                        <a class="dropdown-item" href="#"
                          ><i class="fab fa-linkedin dropdown-item-icon"></i
                          >Linked In</a
                        >
                        <a class="dropdown-item" href="#"
                          ><i class="fas fa-copy dropdown-item-icon"></i>Copy
                          Link</a
                        >
                      </span>
                    </span>
                  </div>
                </div>
                <!-- Video -->
                <div
                  class="
                    video-responsive
                    embed-responsive
                    position-relative
                    w-100
                    d-block
                    overflow-hidden
                    p-0
                  "
                  style="height: 600px"
                >
                 
                  {{ current_lecture.get_vimeo_url.html | safe }}
                </div>
              </div>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="card course-sidebar" id="courseAccordion">
      <!-- List group -->
      <ul class="list-group list-group-flush course-list">
        <li class="list-group-item">
          <h4 class="mb-0">Course Content</h4>
        </li>
        <!-- List group item -->
		 {% for section in object.sections.all %}
			<li class="list-group-item">
				<!-- Toggle -->
				<a
				class="
					d-flex
					align-items-center
					text-inherit text-decoration-none
					h4
					mb-0
          active
				"
				data-bs-toggle="collapse"
				href="#course-{{ section.id }}"
				role="button"
				aria-expanded="true"
				aria-controls="course-{{ section.id }}"
				>
				<div class="me-auto">{{section.title }}</div>
				<!-- Chevron -->
				<span class="chevron-arrow ms-4">
					<i class="fe fe-chevron-down fs-4"></i>
				</span>
				</a>
				<!-- Row -->
				<!-- Collapse -->
				<div
				class="collapse {% if forloop.first %} show {% endif %}"
				id="course-{{ section.id }}"
				data-bs-parent="#courseAccordion"
				>
				<div
					class="py-4 nav"
					id="course-tab-{{ section.id }}"
					role="tablist"
					aria-orientation="vertical"
					style="display: inherit"
				>
					{% for lecture in section.lectures.all %}
						<a
						class="
							mb-2
							d-flex
							justify-content-between
							align-items-center
							text-decoration-none
						"
						id="{{lecture.slug}}-tab"
				
						href="{% url 'current_lecture' object.slug lecture.id %}"
						
						aria-controls="{{lecture.slug}}"
						aria-selected="true"
						>
						<div class="text-truncate">
							<span
							class="
								icon-shape
								bg-light
								text-primary
								icon-sm
								rounded-circle
								me-2
							"
							><i class="fe fe-play fs-6"></i
							></span>
							<span>{{ lecture.title }}</span>
						</div>
						<div class="text-truncate">
							<span>{{ lecture.get_duration }}</span>
						</div>
						</a>
					{% endfor %}
			
				</div>
				</div>
			</li>
		 {% endfor %}
   
      </ul>
    </div>
    {% include 'base/js.html' %}

    <script>
      $(document).ready(function() {
        var options = {
          responsive: true,
          width: 1000,
          height: 600,
          loop: true
        }
        var iframe = document.querySelector('iframe');
        console.log(iframe)
        var iframePlayer = new Vimeo.Player(iframe, options);
        // console.log(iframePlayer)


      })
    </script>
  </body>
</html>
