{% extends "base.html" %} 
{% load static %} 


{% block css %}
<link rel="stylesheet" href='{% static "css/home.css" %}'>
<link rel="stylesheet" href='{% static "css/library.css" %}'>
<link rel="stylesheet" href='{% static "css/main.css" %}'>

<link rel="stylesheet" href='{% static "css/card.css" %}'>

{% endblock css %}
  
{% block header %}
  {% include 'header/home.html' %}
{% endblock header %}
  
{% block content %}

 <!-- Page Content -->
<div class="bg-dark" >
  
  {% include 'hero.html' %}
  <div class="container d-flex">
      
     
  </div>
  
  <!-- Content -->
  <div class="pt-lg-12 pb-lg-3 pt-8 pb-6">
    {% include 'home/courses.html' %}
    
  </div>
  

{% endblock content %}
