<div class="spa-route-content mc-page__content">
  <div
    class="mc-background mc-background--color-dark mc-background--fit-container"
  >
    <div class="mc-background__background-container"></div>
    <div class="mc-background__content-container">
      <div class="mc-background__content">
        <div class="container mc-px-4">
          <div class="mc-text--center">
            <div class="mc-text--center mc-pt-9">
              <div class="mc-mb-6 _1GGvS-xJc1Kcnj6TU0AbhR">
                <div class="_1eucZ-YnbCHmYl2pMLqesj" style="width: 37.5%"></div>
              </div>
            </div>
            <div class="row mc-pt-2 mc-mx-0 mc-opacity--muted mc-clickable">
              <svg
                width="2em"
                height="2em"
                viewBox="0 0 24 24"
                fill="none"
                class="mc-icon--3"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.155 5.47a.75.75 0 010 1.06L9.685 12l5.47 5.47a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
                  fill="currentColor"
                ></path></svg
              >Back
            </div>
            <div class="row no-gutters">
              <h2
                class="mc-text-h2 mc-text--2-lines mc-mt-8 mc-mb-4 mc-mx-auto"
              >
                So, tell us: What brings you here?<br />
              </h2>
            </div>
          </div>
          <div style="margin-top: 0px">
            <div class="col-6 offset-sm-3">
              <div class="mc-text--left mc-mb-9">
                <span
                  ><div
                    class="
                      mc-background--color-medium
                      mc-my-4 mc-mx-9
                      d-flex
                      align-items-center
                      mc-clickable
                      cxODm4Weqznpe4w7q8BYd
                    "
                  >
                    <p class="mc-ml-6 mc-text-large">
                      I'm interested in specific subjects
                    </p>
                  </div></span
                ><span
                  ><div
                    class="
                      mc-background--color-medium
                      mc-my-4 mc-mx-9
                      d-flex
                      align-items-center
                      mc-clickable
                      cxODm4Weqznpe4w7q8BYd
                    "
                  >
                    <p class="mc-ml-6 mc-text-large">
                      I'm here for a certain instructor or instructors
                    </p>
                  </div></span
                ><span
                  ><div
                    class="
                      mc-background--color-medium
                      mc-my-4 mc-mx-9
                      d-flex
                      align-items-center
                      mc-clickable
                      cxODm4Weqznpe4w7q8BYd
                    "
                  >
                    <p class="mc-ml-6 mc-text-large">
                      I want to learn all of the things
                    </p>
                  </div></span
                >
              </div>
              <button
                class="
                  c-button c-button--primary c-button--md
                  d-flex
                  mc-my-4 mc-mx-auto
                "
                disabled=""
              >
                submit</button
              ><button
                class="c-button c-button--link c-button--md d-flex mc-mx-auto"
              >
                skip
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
