<div class="pb-lg-8 pt-lg-3 py-6">
    <div class="container">
      <div class="row mb-4">
        <div class="col">
          <h2 class="cf-text-h2 cf-text--center cf-mb-9 text-white">Trending</h2>
        </div>
      </div>
      <div class="position-relative">
        <ul class="controls" id="sliderThirdControls">
          <li class="prev">
            <i class="fe fe-chevron-left"></i>
          </li>
          <li class="next">
            <i class="fe fe-chevron-right"></i>
          </li>
        </ul>
        <div class="sliderThird">
          {% include 'card/card_home.html' %}
          {% include 'card/card_home.html' %}
          {% include 'card/card_home.html' %}
          {% include 'card/card_home.html' %}
          {% include 'card/card_home.html' %}
        </div>
      </div>
    </div>
  </div>